/** @format */

* {
  font-family:"Open Sans", sans-serif;
}

.login {
  height: 100vh;
}

.login-form label{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.login-form input{
  background: #ffff;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 8px;
}

.header h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  color: black;
}

.header h3 {
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: black;
}

.btn {
 background: #FF8A00!important;
 width: 140px;
 height: 40;
 border-radius: 8px;
 color: black;
 font-weight: bold;
 align-content: center;
 margin-top: 40px;
}
    
